{% extends "layout.html" %}
{% block content%}
  <div style= "margin-top: 150px;">
    <form method = "POST" action = "\output">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" name="rawtext" rows="3" required="true" placeholder="Paste your recipe in here and hit 'Submit'" value= "Die Pinienkerne in der trockenen Pfanne goldgelb rösten und dann auf einem Teller abkühlen lassen.Die Zucchini waschen, putzen und in Scheiben schneiden. Die Champignons säubern und in mundgerechte Stücke schneiden. Die Zwiebel schälen und in kleine Würfel schneiden, den Schinken in Streifen schneiden und noch zweimal quer durchschneiden."></textarea>
        <!-- <input  rows="2" class="form-control" name="rawtext" type="text" value="Die Pinienkerne in der trockenen Pfanne goldgelb rösten und dann auf einem Teller abkühlen lassen.Die Zucchini waschen, putzen und in Scheiben schneiden. Die Champignons säubern und in mundgerechte Stücke schneiden. Die Zwiebel schälen und in kleine Würfel schneiden, den Schinken in Streifen schneiden und noch zweimal quer durchschneiden."> -->
      </div>
      <button class="btn btn-outline-success" type="reset">Clear</button>
      <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
  </div>
 
{% endblock content %}