{% extends "layout.html" %}
{% block content%}


<!-- Function to submit text on enter -->
<script>
    function pressed(e) {
        // Has the enter key been pressed?
        if ( (window.event ? event.keyCode : e.which) == 13) { 
            // If it has been so, manually submit the <form>
            document.forms[0].submit();
        }
    }
</script>

<div class = "row">
    <img src="{{ url_for('static', filename = 'Unknown.png')}}">
</div>


<div class = "row" >

    <!-- Linke Spalte -->
    <form  class="col-3" method = "POST" action = "\output">
        <div>
            <textarea onkeydown="pressed(event)" name = "rawtext" cols = "30" class="form-control custom-box left-box" placeholder="Paste your recipe in here and hit 'Submit'"style="height:500px; resize: none;"></textarea>
        </div>
    </form>

    <!-- Mittlere Spalte -->
    <div class = "col-6" >
        <div class="custom-box">
            {{ demo_result|markdown }} 
        </div>
    </div>

    <!-- Rechte Spalte -->
    <div class = "col-3">
        <div class="custom-box right-box">
            {% for step in steps_list %}
            <div class = "step">
                <strong>{{loop.index}}. {{ step[0] }}</strong><br>

                {% for item in step[1].items()%}
                    {{item[0]}}: 

                    {% for ent in item[1]%}
                        {{ent}} <br>

                    {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}