{% extends "layout.html" %}
{% block content%}

<!-- Form user Input, erste Reihe -->

<div class="container" style= "margin-bottom: 20px; margin-top: 0px;">
    <form  method = "POST" action = "\output">
        <div class="d-table-cell align-middle">
            <button class="btn btn-primary" type="reset">Clear</button>  
        </div>
        <div class="d-table-cell w-100">
            <input name="rawtext" class="form-control mr-1" placeholder="Paste your recipe in here and hit 'Submit'">
        </div>
        <div class="d-table-cell align-middle">
            <button class="btn btn-outline-success" type="submit" style = "margin-left: 15px;">Submit </button>  
        </div>
    </form>
</div>

    <!-- <form method = "POST" action = "\output">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" name="rawtext" rows="2" required="true" placeholder="Paste your recipe in here and hit 'Submit'" ></textarea>
        <button class="btn btn-outline-success" type="reset">Clear</button>
        <button class="btn btn-primary" type="submit" >Submit</button>        
    </form> -->
    <!-- <div class="input-group mb-3">
        <form method="POST" action="\output">
            <textarea class="form-control" name="rawtext" rows="4" required="true" placeholder="Paste your recipe in here and hit 'Submit'" ></textarea>
                <div class="form-horizontal">
                    <button class="btn btn-outline-success" type="reset">Clear</button>    
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" >Submit</button>   
                </div> 
        </form> 
    </div>  -->
</div>

<!-- 2. Reihe für Model Predictions -->
<!-- style="background-color: rgba(119, 195, 112, 0.2)" -->
<div class = "row" >
    <!-- style="background-color: rgba(165, 112, 195, 0.2)" -->
    <div class = "col-3" style= "padding: 0px;" >
        <div class="custom-box left-box">
            {{ demo_text }}
        </div>
    </div>
    <!-- style="background-color: rgba(112, 148, 195, 0.2)" -->
    <div class = "col-6" >
        <div class="custom-box">
            {{ demo_result|markdown }} 
        </div>
    </div>
    <!--  style="background-color: rgba(207, 111, 111, 0.2)" -->
    <div class = "col-3" style= "padding: 0px;">
        <div class="custom-box right-box">
            {% for step in steps_list %}
                <strong>{{ step[0] }}</strong><br>
                {% for item in step[1].items()%}
                    {{item}} <br>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}