{% extends "layout.html" %}
{% block content%}


<div class = "row">
    <a class="logo" href="/"><img src="{{ url_for('static', filename = 'Unknown.png')}}"></a>
</div>


<div class = "row" >

    <!-- Linke Spalte -->
    <form  class="col-3" method = "POST" action = "\output">
        <div>
            <textarea 
                name = "rawtext" cols = "30" 
                class="form-control custom-box left-box" 
                id="input-text"
                placeholder="Paste your recipe here and hit 'Enter' to submit"
                onkeydown="pressed(event)" 
                style="height:500px; resize: none;"></textarea>
        </div>
    </form>

    <!-- Mittlere Spalte -->
    <div class = "col-6" >
        <div class="custom-box">
            {{ demo_result|markdown }} 
        </div>
    </div>

    <!-- Rechte Spalte -->
    <div class = "col-3">
        <div class="custom-box right-box">
            {% for step in steps_list %}
            <div class = "step">
                <strong>{{loop.index}}. {{ step[0] }}</strong><br>
<!-- 
                {% for item in step[1].items()%}
                    {% if item[0].shift|string() == 'Arg0Z' %}
                        {{Zutaten}}:
                    {% else %}
                        {{item[0]}}:
                    {% endif %}

                    {% for ent in item[1]%}
                        {{ent}} <br>

                    {% endfor %}
                {% endfor %} -->


                {% for item in step[1].items()%}
                    {{item[0]}}: 
                        <!-- {{item[1]}} -->
                    {% for ent in item[1]%}
                        {{ent}} <br>

                    {% endfor %}
                {% endfor %}
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}